@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply vector font to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-vector), sans-serif;
  font-weight: 700;
}

.nav-family {
  font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
