@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Space Grotesk (sans-serif) to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-vector), sans-serif !important;
  font-weight: 700;
}

.nav-family {
  font-family: var(--font-vector), sans-serif;
}
